* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.auth {
  &__container {
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    overflow: hidden;

    p {
      margin: 20px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }

    a {
      margin: 15px 0 10px;
      color: #1c1c1c;
      font-size: 13px;
      text-decoration: none;
    }

    span {
      color: #1c1c1c;
      font-size: 12px;
    }

    form {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      background-color: #fff;

      h1 {
        color: #1c1c1c;
      }
    }
  }

  &__form-container {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
  }

  &__sign-in {
    width: 50%;
    left: 0;
    z-index: 2;
  }

  &__container.auth__active &__sign-in {
    transform: translateX(100%);
  }

  &__sign-up {
    width: 50%;
    left: 0;
    opacity: 0;
    z-index: 1;
  }

  &__container.auth__active &__sign-up {
    animation: move 0.6s;
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }

  &__social-icons {
    margin: 20px 0;

    a {
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 3px;
      border: 1px solid #ccc;
      border-radius: 20%;
    }
  }

  &__toggle-container {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 150px 0 0 100px;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
  }

  &__container.auth__active &__toggle-container {
    border-radius: 0 150px 100px 0;
    transform: translateX(-100%);
  }

  &__toggle {
    width: 200%;
    height: 100%;
    position: relative;
    left: -100%;
    background: linear-gradient(to right, #24a1e0, #0e95d8);
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }

  &__container.auth__active &__toggle {
    transform: translateX(50%);
  }

  &__toggle-panel {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }

  &__toggle-left {
    transform: translateX(-200%);
  }

  &__container.auth__active &__toggle-left {
    transform: translateX(0);
  }

  &__toggle-right {
    right: 0;
    transform: translateX(0);
  }

  &__container.auth__active &__toggle-right {
    transform: translateX(200%);
  }

  &__button {
    width: 150px;
    display: grid;
    place-content: center;
    margin-top: 5px;

    span {
      color: #fff !important;
      font-size: 16px;
      font-weight: 500;
    }

    &--toggle {
      padding: 0 30px;

      span {
        color: #fff !important;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  &__input {
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 8px;
  }
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
