::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #282829;
      border-radius: 9px;
      background-clip: content-box;
  }
.wrapper {
    overflow: hidden;
    margin: 0px 120px;
    .profile {
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        position: relative;
        color: #fff;
        .user-photo {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            span {
                width: 170px;
                height: 170px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                svg {
                    width: 50%;
                    height: 100%;
                }
            }

            .send-photo {
                input {
                    display: none;
                }

                label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    justify-content: center;
                    position: absolute;
                    opacity: 0;
                    z-index: 2;
                    transition: .3s;

                    &:hover {
                        background: #86807A8C;
                        opacity: 1;
                    }

                    border-radius: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__balance {
                display: flex;
                font-weight: 400;
                margin-top: 5px;

                button {
                    position: absolute;
                    margin-left: 15px;
                }
            }

            &__name {
                font-size: 27px;
                margin-top: 20px;
                font-weight: 400;
            }

            .ant-image-mask {
                border-radius: 100%;
            }
        }

        .cards-wrap {
            position: relative;

            .card {
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 1;
                transition: .5s;
                width: 100%;
                cursor: pointer;
                clip-path: polygon(0% 14.933%, 0.049% 4.134%, 0.049% 4.134%, 0.069% 3.461%, 0.122% 2.824%, 0.205% 2.23%, 0.315% 1.688%, 0.449% 1.207%, 0.605% 0.795%, 0.781% 0.46%, 0.972% 0.21%, 1.177% 0.054%, 1.393% 0%, 31.831% 0%, 31.831% 0%, 32.05% 0.055%, 32.257% 0.214%, 32.45% 0.468%, 32.626% 0.809%, 32.783% 1.228%, 32.917% 1.717%, 33.026% 2.266%, 33.108% 2.868%, 33.159% 3.513%, 33.176% 4.193%, 33.176% 10.74%, 33.176% 10.74%, 33.194% 11.42%, 33.245% 12.065%, 33.327% 12.667%, 33.436% 13.216%, 33.57% 13.704%, 33.727% 14.124%, 33.903% 14.465%, 34.096% 14.719%, 34.303% 14.878%, 34.521% 14.933%, 68.303% 14.933%, 98.655% 14.933%, 98.655% 14.933%, 98.873% 14.987%, 99.08% 15.146%, 99.273% 15.401%, 99.449% 15.742%, 99.606% 16.161%, 99.741% 16.649%, 99.85% 17.199%, 99.931% 17.8%, 99.982% 18.445%, 100% 19.125%, 100% 95.807%, 100% 95.807%, 99.982% 96.487%, 99.931% 97.132%, 99.85% 97.734%, 99.741% 98.283%, 99.606% 98.772%, 99.449% 99.191%, 99.273% 99.532%, 99.08% 99.786%, 98.873% 99.945%, 98.655% 100%, 1.345% 100%, 1.345% 100%, 1.127% 99.945%, 0.92% 99.786%, 0.727% 99.532%, 0.551% 99.191%, 0.394% 98.772%, 0.26% 98.283%, 0.15% 97.734%, 0.069% 97.132%, 0.018% 96.487%, 0% 95.807%, 0% 14.933%);
                background: #1D3039;
                border-radius: 20px;
                margin-top: -30px;
                .btn-check {
                    text-align: left;
                    height: 60px;
                    border-radius: 20px;
                    font-size: 20px;
                }
                .card__head-name {
                    font-size: 30px;
                    display: flex;
                    padding-left: 80px;
                    justify-content: start;
                    font-weight: 500;
                    width: 100%;
                    padding-top: 15px;
                    position: absolute;
                }

                &__main-info {
                    margin-right: 20px;
                    width: 50%;
                }

                &__info {
                    position: relative;
                    margin: 15px;
                    margin-top: 90px;
                    margin-bottom: 20px;
                    display: flex;
                }

                &__user-info {
                    padding: 20px;
                    padding-bottom: 5px;
                    position: relative;
                    background: linear-gradient(261.31deg, #1C1E1E 39.3%, #1E4558 108.39%),
                        linear-gradient(0deg, rgba(29, 48, 57, 0.3), rgba(29, 48, 57, 0.3));
                    border-radius: 15px;
                    margin-bottom: 15px;

                    .title {
                        font-size: 23px;
                        font-weight: 500;
                        margin-bottom: 20px;
                    }
                }

                &__pay {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    justify-content: space-between;
                    position: relative;
                    background: linear-gradient(261.31deg, #1C1E1E 39.3%, #1E4558 108.39%),
                        linear-gradient(0deg, rgba(29, 48, 57, 0.3), rgba(29, 48, 57, 0.3));
                    border-radius: 15px;
                    padding: 20px;

                    .title {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    .card__balance {
                        margin-bottom: 20px;
                        margin-top: 10px;
                        font-size: 13px;
                        font-weight: 500;
                    }

                    .card__history {
                        display: flex;
                        flex-direction: column;
                        padding: 0;
                        margin-bottom: 0px;

                        button {
                            height: 45px;
                            font-size: 20px;
                            border-radius: 15px;
                            margin-top: 15px;
                        }

                        li {
                            display: flex;
                            justify-content: space-between;

                            .history-date {
                                color: #B8B8B8;
                            }
                        }
                    }
                }
            }

            .ref-link {
                background: linear-gradient(261.31deg, #1C1E1E 39.3%, #1E4558 108.39%),
                    linear-gradient(0deg, rgba(29, 48, 57, 0.3), rgba(29, 48, 57, 0.3));
                border-radius: 15px;
                padding: 20px;
                font-size: 20px;
                align-items: baseline;
                font-weight: 500;
                margin-bottom: 15px;
                position: relative;
                display: flex;

                .link {
                    margin-left: 10px;
                    font-size: 15px;
                    color: #80D4FF;
                }

                .ref-link-item {
                    display: flex;
                    align-items: center;
                    top: 5px;
                    right: 10px;
                    position: absolute;
                }

            }

            #referral {
                clip-path: polygon(100% 15.48%, 99.951% 4.25%, 99.951% 4.25%, 99.931% 3.559%, 99.878% 2.903%, 99.795% 2.293%, 99.685% 1.736%, 99.551% 1.241%, 99.394% 0.817%, 99.219% 0.473%, 99.028% 0.216%, 98.823% 0.055%, 98.607% 0%, 68.169% 0%, 68.169% 0%, 67.951% 0.056%, 67.744% 0.22%, 67.551% 0.481%, 67.374% 0.832%, 67.218% 1.262%, 67.083% 1.765%, 66.974% 2.329%, 66.892% 2.948%, 66.841% 3.611%, 66.824% 4.31%, 66.824% 11.17%, 66.824% 11.17%, 66.806% 11.869%, 66.755% 12.532%, 66.673% 13.151%, 66.564% 13.716%, 66.43% 14.218%, 66.273% 14.649%, 66.097% 14.999%, 65.904% 15.26%, 65.697% 15.424%, 65.479% 15.48%, 31.697% 15.48%, 1.345% 15.48%, 1.345% 15.48%, 1.127% 15.537%, 0.92% 15.7%, 0.727% 15.961%, 0.551% 16.312%, 0.394% 16.743%, 0.26% 17.245%, 0.15% 17.81%, 0.069% 18.428%, 0.018% 19.091%, 0% 19.791%, 0% 95.69%, 0% 95.69%, 0.018% 96.389%, 0.069% 97.052%, 0.15% 97.671%, 0.26% 98.235%, 0.394% 98.738%, 0.551% 99.168%, 0.727% 99.519%, 0.92% 99.78%, 1.127% 99.944%, 1.345% 100%, 98.655% 100%, 98.655% 100%, 98.873% 99.944%, 99.08% 99.78%, 99.273% 99.519%, 99.449% 99.168%, 99.606% 98.738%, 99.741% 98.235%, 99.85% 97.671%, 99.931% 97.052%, 99.982% 96.389%, 100% 95.69%, 100% 15.48%);
                position: absolute;
                top: -2.40px;

                .card__info {
                    display: flex;
                    flex-direction: column;
                }

                .card__head-name {
                    padding-right: 80px;
                    justify-content: end;
                }

                .card__main-info {
                    width: 100%;
                    display: flex;
                }

                .ref-link {
                    width: 50%;
                }

                .card__total-earnings {
                    background: linear-gradient(261.31deg, #1C1E1E 39.3%, #1E4558 108.39%),
                        linear-gradient(0deg, rgba(29, 48, 57, 0.3), rgba(29, 48, 57, 0.3));
                    border-radius: 15px;
                    padding: 20px;
                    font-size: 20px;
                    width: 50%;
                    margin-right: 20px;
                    align-items: baseline;
                    font-weight: 500;
                    margin-bottom: 15px;
                    position: relative;
                    display: flex;

                    span {
                        margin-left: 4px;
                        font-size: 16px;
                        font-weight: 100;
                    }

                    button {
                        top: 10px;
                        right: 10px;
                        position: absolute;
                    }
                }

                .card__table-wrap {
                    overflow-y: scroll;
                    width: 100%;
                    height: 204px;
                    &::-webkit-scrollbar {
                        width: 5px;
                        height: 5px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background: #1E3E4D;
                          border-radius: 9px;
                          background-clip: content-box;
                      }
                }

                .card__table {
                    background: linear-gradient(261.31deg, #1C1E1E 39.3%, #1E4558 108.39%),
                        linear-gradient(0deg, rgba(29, 48, 57, 0.3), rgba(29, 48, 57, 0.3));
                    border-radius: 15px;
                    width: 100%;

                    th,
                    td {
                        border: 1px solid #181818;
                        width: 50%;
                        line-height: 0px;
                        padding: 25px 0px;
                        font-weight: 200;
                        font-size: 18px;
                    }

                }
            }

            .active {
                z-index: 2;
                transition: .5s;
                background-color: #181818;
            }
        }
    }
    @media screen and (max-width: 1260px) {
        .profile {
            .cards-wrap {
                    margin-top: 60px;
                .card {
                    .card__head-name {
                        padding-left: 0px;
                        justify-content: center;
                    }
                    clip-path: none;
                }
                #referral {
                    top: 0;
                    .card__head-name {
                        padding-right: 0px;
                        justify-content: center;
                    }
                    clip-path: none;
                }
                .active {
                    margin-top: 40px;
                }
            }
        }
        
    }
    @media screen and (max-width: 1140px) {
        .profile {
            .cards-wrap {
                .card {
                    min-height: 550px;
                    .btn-check {
                        display: none;
                        text-align: center;
                        height: 50px;
                        margin-top: 20px;
                    }
                    .card__head-name {
                        font-size: 25px;
                    }
                    .card__info {
                        align-items: center;
                        flex-direction: column;
                    }
                    .card__main-info {
                        width: 100%;
                        margin-right: 0px;
                    }
                    .card__pay {
                        width: 100%;
                    }
                }
                #referral {
                    .card__table-wrap {
                        min-height: 310px;
                        overflow: scroll;
                    }
                    .card__main-info {
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        .card__total-earnings {
                            width: 100%;
                            margin-right: 0px;
                        }
                        .ref-link {
                            width: 100%;
                        }
                    }
                    .card__table {
                        width: 900px;
                    }
                }
                .active {
                    margin-top: 20px;
                }
            }
        }
        
    }
    @media screen and (max-width: 704px) {
        .wrapper {
            margin: 0px 22px;
        }
            .profile {
                .cards-wrap {
                    .ref-link {
                        flex-direction: column;
                        .link {
                            margin-left: 0px;
                        }
                    }
                }
            }
    }
    @media screen and (max-width: 400px) {
        .profile {
            .user-photo {
                width: 130px;
                span {
                    width: 130px;
                    height: 130px;
                }
            }
            .cards-wrap {
               .card {
                .card__head-name {
                    font-size: 23px;
                }
               }
            }
        }
    }
}
@media screen and (max-width: 704px) {
    .wrapper {
        margin: 0 22px;
    }
}