.nav {
    padding: 20px 85px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    background: #181818;
    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        img {
            margin-left: 5px;
            width: 47px;
            height: 33px;
        }
    }
  .user {
    display: flex;
    align-items: center;
    .avatar {
        cursor: pointer;
    }
    .change-lang {
        margin-right: 10px;
        .ant-select-selection-item {
            font-weight: 500;
        }
        .ant-select-selector {
            border: none;
            background: none;
        }
        
    }
   
  }
  
}
.dropdown-menu {
    ul {
        width: 300px;
        border-radius: 15px !important;
        padding: 0px !important;
        overflow: hidden;
        li {
            margin: 0px;
            font-size: 17px !important;
            border-radius: 0px !important;
            background: linear-gradient(261.31deg, #1C1E1E 39.3%, #1E4558 108.39%),
            linear-gradient(0deg, rgba(29, 48, 57, 0.3), rgba(29, 48, 57, 0.3));            
text-align: center;
            &:hover {
                background: #355766 !important;
            }
    }
    .ant-dropdown-menu-submenu-title {
        padding: 10px 55px !important;
        font-weight: 500 !important;
        font-size: 17px !important;
            .ant-dropdown-menu-submenu-expand-icon {
                display: none;
            }
    }
   }
}
.ant-dropdown-menu-vertical {
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px 0px 15px 15px !important;
    overflow: hidden !important;
    padding: 0px !important;
    .ant-dropdown-menu-item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500 !important;
        padding: 10px 55px !important;
        &-active {
            border-radius: 0px !important;
        }
    }
   }