.nav {
    padding: 21px 0px;
    color: #fff;
    background: #181818;
    .logo {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        img {
            width: 57px;
            height: 43px;
        }
    }
  
}