:root {
  --color-main: #24a1e0;
  --color-bg: #1c1c1c;
}

html {
  /* default fz: 16px | 16px * 62.5 / 100 = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f9fafb;
  font-size: 1.6rem;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  html {
    /* 16px * 50 / 100 = 8px */
    font-size: 50%;
  }
}
